@import url(https:\/\/fonts.googleapis.com\/css?family=Open+Sans);
.row.presentation > div > img {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s; }
  .row.presentation > div > img:hover {
    border: 1px solid lightblue;
    box-shadow: 0px 0px 2px lightblue; }

img {
  display: block; }

.presentation {
  width: 75%;
  padding: 2em;
  font-weight: bold; }
  .presentation > * {
    margin: auto; }

.more {
  padding: 2em;
  line-height: 2.5em;
  background-color: #c5c5c5; }

.jumbotron > div {
  padding: 0px; }

.links .link {
  text-align: center;
  height: 15em;
  padding: 0px;
  background-size: contain; }
  .links .link > div {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: table;
    background-position: center;
    line-height: 50px; }
    .links .link > div.classes {
      background-image: url("../images/img-1.jpg"); }
    .links .link > div.teachers {
      background-image: url("../images/img-2.jpg"); }
    .links .link > div.partners {
      background-image: url("../images/img-3.jpg"); }
    .links .link > div a {
      color: white;
      text-decoration: none;
      display: table-cell;
      padding: 10px;
      margin: auto;
      font-size: 2em;
      font-weight: bold;
      vertical-align: middle; }

@media only screen and (max-width: 64.063em) {
  .presentation {
    font-size: 2em; }
    .presentation h1 {
      line-height: 1.3em; }
    .presentation p {
      line-height: 1.3em; }
  .more {
    padding: 1em 5em; }
    .more p {
      line-height: 1.8em;
      text-align: justify; } }

.nav {
  position: fixed;
  width: 100%;
  background-color: pink;
  height: 48px;
  box-shadow: 0px 0px 2px grey; }
  .nav > ul {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0px; }
    .nav > ul > li {
      height: 100%; }
      .nav > ul > li > a {
        display: block;
        text-decoration: none;
        text-align: center;
        padding: .5em 2em; }
  .nav .nav-logo {
    height: 100%; }
    .nav .nav-logo > img {
      height: 100%;
      margin: auto; }

#mobile-nav {
  height: 100%; }
  #mobile-nav > ul {
    background-color: pink;
    list-style: none;
    padding: 0px;
    margin: 0px; }
    #mobile-nav > ul > li > a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px;
      text-decoration: none;
      text-align: center;
      -webkit-transition: left 1s;
      transition: left 1s;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease; }
  #mobile-nav.left {
    position: fixed;
    width: 25em;
    height: 100%;
    left: -25em;
    -webkit-transition: left 1s;
    transition: left 1s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    background-color: pink;
    box-shadow: 0px 0px 2px grey; }
  #mobile-nav .nav-logo {
    width: 100%;
    padding: 25px auto;
    background-color: white; }
    #mobile-nav .nav-logo > img {
      width: 50%;
      margin: auto; }

#mobile-nav-fill {
  height: 100%;
  position: fixed;
  width: 75em;
  cursor: pointer;
  right: -75em; }

#label-nav-checkbox {
  position: fixed;
  left: 2em;
  top: 2em;
  color: white;
  -webkit-transition: left 1s;
  transition: left 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }
  #label-nav-checkbox > .hamburger {
    display: block;
    margin: 0;
    padding: 0;
    height: 48px;
    width: 48px;
    font-size: 0;
    cursor: pointer;
    transition: background 0.3s; }
    #label-nav-checkbox > .hamburger:focus {
      outline: none; }

.hamburger span {
  display: block;
  height: 8px;
  width: 48px;
  background: pink;
  margin-top: 19.2px;
  transition: background 0s 0.3s; }
  .hamburger span:before, .hamburger span:after {
    display: block;
    position: absolute;
    left: 0;
    width: 48px;
    height: 8px;
    background-color: pink;
    content: "";
    transition-property: top, transform;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s; }
  .hamburger span:before {
    top: 0; }
  .hamburger span:after {
    top: 38.4px; }
  .hamburger span.htx:before, .hamburger span.htx:after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s; }

#nav-checkbox:checked ~ #label-nav-checkbox {
  left: 27em; }
  #nav-checkbox:checked ~ #label-nav-checkbox .hamburger.htx > span {
    background: none; }
    #nav-checkbox:checked ~ #label-nav-checkbox .hamburger.htx > span:before {
      top: 19.2px;
      transform: rotate(45deg);
      transition-delay: 0s, 0.3s; }
    #nav-checkbox:checked ~ #label-nav-checkbox .hamburger.htx > span:after {
      top: 19.2px;
      transform: rotate(-45deg);
      transition-delay: 0s, 0.3s; }

#nav-checkbox:checked ~ #mobile-nav {
  left: 0; }

#nav-checkbox:checked ~ #mobile-nav-fill {
  right: 0; }

@media only screen and (max-width: 64.063em) {
  #mobile-nav > ul > li > a {
    font-size: 2em;
    padding: 2em; } }

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #2E2E2E;
  line-height: 2em; }

label:hover {
  cursor: pointer; }

a:hover {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.align.left {
  text-align: left; }

.align.right {
  text-align: right; }

.hvr.swp {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .hvr.swp.right:before {
    content: "";
    width: 10px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c00022;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hvr.swp.right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .hvr.swp.top:before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: -10px;
    background: #c00022;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hvr.swp.top:hover:before {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1); }
  .hvr.swp:hover {
    background-color: rgba(0, 0, 0, 0.4); }

.fade.in.out {
  transform: scaleY(0);
  height: 0px;
  font-size: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition-property: transform font-size height;
  transition-property: transform font-size height;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }
  .fade.in.out article {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .fade.in.out.active {
    transform: scaleY(1);
    height: 100%;
    font-size: 100%; }
    .fade.in.out.active article {
      opacity: 1; }

.separator.h {
  height: 0px;
  width: 100%;
  margin: 2em 0em; }
  .separator.h:before {
    content: "";
    display: block;
    width: 50%;
    background-color: grey;
    height: 1px;
    margin: auto; }

.separator.v {
  height: 100%;
  width: 0px; }
  .separator.v:before {
    content: "";
    display: block;
    width: 1px;
    background-color: grey;
    height: 50%;
    margin: auto; }

.main > footer ul > li {
  list-style: none; }

/*
  cards
*/
div.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center; }

@media (max-width: 1200px) {
  div.cards {
    flex-direction: column;
    flex-wrap: nowrap; }
  span.card {
    max-width: initial !important; } }

.card-img {
  padding: 10px; }
  .card-img > img {
    border-radius: 2%;
    max-height: 180px;
    max-width: 180px;
    margin: auto;
    background-color: transparent; }

span.card {
  max-width: 40%;
  margin: 30px 0px;
  background-color: #ababab;
  padding: 20px; }
  span.card > blockquote {
    margin-top: 20px;
    font-family: 'Questrial', sans-serif;
    line-height: 1.5em;
    font-style: italic;
    text-align: left; }
    span.card > blockquote:before {
      content: "\f10d";
      font-family: "FontAwesome";
      margin-right: 20px;
      font-size: 3em;
      display: inline-block;
      color: #938b8c; }

body, html {
  background-color: #DEDEDE; }
