html {
  margin : 0 auto;
  height: 100%;
  width : 100%;
}

body {
  margin : 0 auto;
  height: 100%;
  width : 80%;
}

header, main {
    padding: 20px 0px;
}

#logo {
  width : 50%;
  min-width: 300px;
}

#logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

.summary {
  margin-top : 50px;
  padding : 10px;
  border-radius: 10px;
  background-color: #EEE;

}
.summary{
  font-size : 140%;
}

.summary .corner-logo {
    margin-top: 20px;
    margin-bottom: 80px;
}

.summary p {
    text-align: justify;
}

.padded {
  padding : 20px;
}

main section h2 {
  border-bottom: 1px solid black;
  padding-bottom : 5px;
}

main section p {
 font-size : 18px;
 text-align: justify;
}

.summary h2 {
  font-weight : bold;
  font-size : 150%
}

.color-second {
  color : #FA021B;
}
.support-logo {
  max-width : 200px;
  margin-left:15px;
  margin-right: 15px;
}
footer {
  padding : 20px 0px;
}

.medaillon {
  max-width: 25%;
  min-width: 250px
}
