html {
  margin : 0 auto;
  height: 100%;
  width : 100%;
}

body {
  margin : 0 auto;
  height: 100%;
  width : 80%;
}

header, main {
    padding: 20px 0px;
}

#logo img {
  width : 50%;
}
.summary {
  margin-top : 50px;
  padding : 10px;
  border-radius: 10px;
  background-color: #EEE;

}
.summary{
  font-size : 150%
}

.padded {
  padding : 20px;
}

main section h2 {
  border-bottom: 1px solid black;
  padding-bottom : 5px;
}

main section p {
 font-size : 18px;
}

.summary h2 {
  font-weight : bold;
  font-size : 150%
}

.color-second {
  color : #FA021B;
}
.support-logo {
  max-width : 200px;
  margin-right: 30px;
}
footer {
  padding : 20px 0px;
}
