@import "vars";

/*
  cards
*/

div.cards {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    text-align:center;
    font-weight:normal;
}

@media (max-width: 1200px) {
    div.cards {
        flex-direction:column;
        flex-wrap:nowrap;
    }

    span.card {
        max-width:initial !important;
    }
}

.card-img {
    padding:10px;
    > img {
        border-radius:2%;
        max-height:50%;
        max-width:50%;
        margin:auto;
        background-color:transparent;
    }
}

span.card {
    max-width:45%;
    margin:2.5% 0px;
    background-color:darken($bg,20%);
    padding:20px;
    > blockquote {
        margin-top:20px;
        line-height:1.3em;
        font-style:italic;
        text-align:left;
        &:before {
            content:"\f10d";
            font-family:"FontAwesome";
            margin-right:20px;
            font-size:3em;
            display:inline-block;
            color:#938b8c;
        }
    }
}