@import "vars";

/*
  cards
*/

div.cards {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    text-align:center;
}

@media (max-width: 1200px) {
    div.cards {
        flex-direction:column;
        flex-wrap:nowrap;
    }

    span.card {
        max-width:initial !important;
    }
}

.card-img {
    padding:10px;
    > img {
        border-radius:2%;
        max-height:180px;
        max-width:180px;
        margin:auto;
        background-color:transparent;
    }
}

span.card {
    max-width:40%;
    margin:30px 0px;
    background-color:darken($bg,20%);
    padding:20px;
    > blockquote {
        margin-top:20px;
        font-family: 'Questrial', sans-serif;
        line-height:1.5em;
        font-style:italic;
        text-align:left;
        &:before {
            content:"\f10d";
            font-family:"FontAwesome";
            margin-right:20px;
            font-size:3em;
            display:inline-block;
            color:#938b8c;
        }
    }
}