@import "vars";

.main {
    > footer {
        margin-top:-2em;
        ul {
            > li {
                list-style:none;
            }
        }
        .socials {
            padding:0px;
        }
    }
}

@media only screen and (max-width: 64.063em) {
    footer {
        ul {
            line-height:2em;
            font-size:2em;
        }
    }
}