@import "vars";

.presentation {
    width:75%;
    padding:2em;
    font-weight:bold;
    > * {
        margin:auto;
    }

    .partner {
        > img {
            padding:0em 1.3em;
            max-width:25%;
            max-height:150px;
        }
        > p {
            margin:0px;
        }
    }
}

.more {
    padding:2em;
    line-height:2.5em;
    background-color:darken($bg,10%);
}

.jumbotron {
    > div {
        padding:0px;
    }
}

.links {
    .link {
        text-align:center;
        height:15em;
        padding:0px;
        background-size:contain;
        > div {
            height:100%;
            width:100%;
            vertical-align: middle;
            display:table;
            background-position:center;
            line-height:50px;
            &.classes {
                background-image: url("../images/img-1.jpg");
            }
            &.teachers {
                background-image: url("../images/img-2.jpg");
            }
            &.partners {
                background-image: url("../images/img-3.jpg");
            }
            a {
                color:white;
                text-decoration:none;
                display: table-cell;
                padding:10px;
                margin:auto;
                font-size:2em;
                font-weight:bold;
                vertical-align:middle;
            }
        }
    }
}

@media only screen and (max-width: 64.063em) {
    .presentation {
        font-size:2em;
        h1 {
            line-height:1.3em;
        }
        p {
            line-height:1.3em;
        }
    }
    .more {
        padding:1em 5em;
        p {
            line-height:1.8em;
            text-align:justify;
        }
    }
}
