@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,body {
    font-family: 'Open Sans', sans-serif;
    color:#2E2E2E;
    line-height:2em;
}

label {
    &:hover {
        cursor:pointer;
    }
}

a {
    color : $link-color;
    text-decoration:none;
    cursor:pointer;
}

a.link-icon {
  margin: 0px 10px;
}

a.data-toggle {
    color:#666;
    -webkit-transition:color 0.3s;
    transition:color 0.3s;
    &:hover {
        color:$link-color-hover;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
    margin: 1em 0px;
}

.margin-v {
  margin: 1.5em 0px;
}

.align {
    &.left {
        text-align:left;
    }
    &.right {
        text-align:right;
    }
}

.center {
    text-align:center;
}

.text-padded p {
  padding-left: 15px;
}

p {
  text-align: justify;
}
