@import url(https:\/\/fonts.googleapis.com\/css?family=Open+Sans);

html,body {
    font-family: 'Open Sans', sans-serif;
    color:#2E2E2E;
    line-height:2em;
}

label {
    &:hover {
        cursor:pointer;
    }
}

a:hover {
    cursor:pointer;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
}

.align {
    &.left {
        text-align:left;
    }
    &.right {
        text-align:right;
    }
}

.socials {
    li {
        a {
            text-decoration:none;
            color:black;
            -webkit-transition:color 0.3s;
            transition:color 0.3s;
            &:hover {
                color:grey;
            }
        }
    }
}

.center {
    text-align:center;
}