@import url(https:\/\/fonts.googleapis.com\/css?family=Open+Sans);

html,body {
    font-family: 'Open Sans', sans-serif;
    color:#2E2E2E;
    line-height:2em;
}

label {
    &:hover {
        cursor:pointer;
    }
}

a {
    color : $link-color;
    text-decoration:none;
    cursor:pointer;
}

a.data-toggle {
    color:#666;
    -webkit-transition:color 0.3s;
    transition:color 0.3s;
    &:hover {
        color:$link-color-hover;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
    margin:0px;
    padding:1.67em 0px;
}

h2 {
    text-decoration:underline;
}

.align {
    &.left {
        text-align:left;
    }
    &.right {
        text-align:right;
    }
}

.center {
    text-align:center;
}

article.presentation {
    > section {
        padding-top:1em;
    }
}