@import "img";
@import "vars";
@import "presentation";
@import "nav";
@import "text";
@import "animations";
@import "separator";
@import "footer";
@import "cards";

body,html {
    background-color:$bg;
    height: 100%;
}

@media only screen and (min-width: 64.063em) {
    .main {
        padding-top:$menu-size;
    }
}