<div class="separator h"></div>
<footer class="margin-v website-footer">
  <nav class="center margin-v">
    <a href="index.html">Accueil</a> |
    <a href="classes.html">Formation</a> |
    <a href="register.html">S'inscrire</a> |
    <a href="teachers.html">Qui sommes nous ?</a> |
    <a href="partners.html">Partenaires</a>
  </nav>
  <nav class="center margin-v">
    <a class="link-icon" title="Facebook _blank" href="https://facebook.com/blankblvl"><i class="fa fa-facebook"></i></a>
    <a class="link-icon" title="Accès Moodle" href="http://moodle.bellevillecitoyenne.fr"><i class="fa fa-graduation-cap"></i></a>
    <a class="link-icon" title="Nous contacter" href="mailto:blank@bellevillecitoyenne.fr"><i class="fa fa-envelope"></i></a>
  </nav>
  <div class="center copy">
    <p class="center">
      Un projet de l'association <a href="http://bellevillecitoyenne.fr"><img class="logo-min" src="images/logo-bc.jpg"></img></a>
      <br />&copy; 2016 _blank</p>
  </div>
</footer>
