<div class="separator h"></div>
<footer class="website-footer">
    <nav class="center margin-v">
        <a class="link-icon" title="Facebook _blank" href="https://facebook.com/blankblvl"><i class="fa fa-lg fa-facebook"></i></a>
        <a class="link-icon" title="Accès Moodle" href="http://moodle.bellevillecitoyenne.fr"><i class="fa fa-lg fa-graduation-cap"></i></a>
        <a class="link-icon" title="Nous contacter" href="mailto:blank@bellevillecitoyenne.fr"><i class="fa fa-lg fa-envelope"></i></a>
    </nav>
    <div class="center copy">
        <p class="center">
            _blank est labellisée Grande École du Numérique
            <a href="https://www.grandeecolenumerique.fr/2016/11/54-nouvelles-formations-labellisees-grande-ecole-numerique/">
                <img class="logo-min" src="images/gen.png"></img>
            </a>
        </p>
        <p class="center">
            Un projet de l'association
            <a href="http://bellevillecitoyenne.fr">
                <img class="logo-min" src="images/logo-bc.jpg"></img>
            </a>
        </p>
        <p class="center">
            &copy; 2016 _blank
        </p>
    </div>
</footer>
