<footer class="website-footer">
  <nav class="center">
    <a href="index.html">Accueil</a> |
    <a href="teachers.html">Enseignants</a> |
    <a href="classes.html">Cours</a> |
    <a href="partners.html">Partenaires</a>
  </nav>
  <nav class="center">
    <a class="link-icon" title="Facebook _blank" href="https://facebook.com/blankblvl"><i class="fa fa-facebook"></i></a>
    <a class="link-icon" title="Accès Moodle" href="http://moodle.bellevillecitoyenne.fr"><i class="fa fa-graduation-cap"></i></a>
    <a class="link-icon" title="Nous contacter" href="mailto:blank@bellevillecitoyenne.fr"><i class="fa fa-envelope"></i></a>
  </nav>
  <div class="center copy">
    <p>Un projet de l'association <a href="http://bellevillecitoyenne.fr"><img class="logo-min" src="images/logo-bc.jpg"></img></a></p>
    <p>&copy; 2016 _blank</p>
  </div>
</footer>
