<div class="nav show-for-large">
  <ul>
    <li>
      <a  class="nav-logo" href="index.html">
        <img src="images/logo.png"/>
      </a>
    </li>
    <li>
      <a href="index.html" class="hvr swp top">Accueil</a>
    </li>
    <li>
      <a href="classes.html" class="hvr swp top">Formation</a>
    </li>
    <li>
      <a href="register.html" class="hvr swp top">S'inscrire</a>
    </li>
    <li>
      <a href="teachers.html" class="hvr swp top">Qui sommes-nous ?</a>
    </li>
    <li>
      <a href="partners.html" class="hvr swp top">Partenaires</a>
    </li>
  </ul>
</div>
<input type="checkbox" id="nav-checkbox" style="display:none;" />

<label id="label-nav-checkbox" class="hide-for-large" for="nav-checkbox">
  <div class="hamburger htx">
    <span>toggle menu</span>
  </div>
</label>

<div id="mobile-nav-fill" data-check="nav-checkbox">
  <!-- fill for click to release menu -->
</div>
<div id="mobile-nav" class="left hide-for-large">
  <ul>
    <li>
      <a class="nav-logo" href="index.html">
        <img src="images/logo.png"/>
      </a>
    </li>
    <li>
      <a href="index.html" class="hvr swp top">Accueil</a>
    </li>
    <li>
      <a href="classes.html" class="hvr swp top">Formation</a>
    </li>
    <li>
      <a href="register.html" class="hvr swp top">S'inscire</a>
    </li>
    <li>
      <a href="teachers.html" class="hvr swp top">Qui sommes-nous ?</a>
    </li>
    <li>
      <a href="partners.html" class="hvr swp top">Partenaires</a>
    </li>
  </ul>
</div>
